
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Daily Journal</p>
    <div class="icons">
      <i class="fa-brands fa-instagram fa-2x"></i>&nbsp&nbsp&nbsp&nbsp
      <i class="fa-brands fa-twitter fa-2x"></i>&nbsp&nbsp&nbsp&nbsp
      <i class="fa-brands fa-facebook fa-2x"></i>
    </div>
  </div>
</div>
</body>
</html>
