<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <!-- fontawesome -->
  <script src="https://kit.fontawesome.com/40d5373f5a.js" crossorigin="anonymous"></script>

   <!-- google fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Signika+Negative&display=swap" rel="stylesheet">
   <style> @import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Signika+Negative&display=swap'); </style>
   <!-- css stylesheet -->
  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <p class="title navbar-brand">Mi Diario</p>
        <i class="fa-solid fa-book-open fa-4x"></i>

      </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="title" id="home"><a href="/"><i class="fa-solid fa-house"></i> HOME</a></li>
          <li class="title" id="about"><a href="/about"><i class="fa-solid fa-address-card"></i> ABOUT US</a></li>
          <li class="title" id="contact"><a href="/contact"><i class="fa-solid fa-phone-volume"></i> CONTACT US</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
