<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p class="cont"> <%= contactContent %> </p>
    <br>
    <hr>
    <h4>For any Incovenience:</h4>
    <br>
    <p>Mail to: prernadabi24@gmail.com</p>
<%- include("partials/footer"); -%>
